input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: mediumblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    display: block;
    border: none;
    cursor: pointer;
}

    button:hover {
        opacity: 0.8;
    }

    button:disabled {
        background-color: dimgrey;
        color: linen;
        opacity: 1;
    }

.login-container {
    margin: auto;
    margin-top: 200px;
    width: 30%;
    padding: 16px;
    border: 3px solid #f1f1f1;
}

#error-message {
    color: red;
}