body {
    font-family: Arial, Tahoma, Serif;
    color: #263238;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #cfd8dc;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-left: 1rem;
}

nav a {
    text-decoration: none;
    background-color: lightblue;
    padding: 0.4rem;
    border-radius: 0.5rem;
    color: #0d47a1
}

nav a:hover {
    opacity: 0.5;
}

.log {
    border: 2px solid orange;
    padding: 3px;
}

#placeholder {
    margin: auto;
    max-width: 600px;
}

#show-logs-button {
    background-color: lightblue;
    padding: 0.4rem;
    border-radius: 0.5rem;
    margin: 0.3rem;
}

#show-logs-button:hover
{
    opacity: 0.8;
    cursor: pointer;
}

#logs-chooser {
    margin-top: 5px;
}