h1 {
    margin-top: 15px;
}

#deleteDetails {
    margin-top: 20px;
    border: 1px solid purple;
    border-radius: 10px;
    padding: 15px;
    background: linear-gradient(to right, purple, pink);
    color: white;
}

.btn.btn-outline-secondary
{
    color: white;
    border-color: white;
}