body {
    background: linear-gradient(to right, purple, pink);
}

.row {
    width: 90%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, gray, pink, blue);
    padding: 30px;
    margin: 0 auto;
    border-radius: 10px;
}

.col-md-4 {
    width: 100%;
}

h1 {
    margin-top: 15px;
}

label {
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: 600;
}

#back {
    margin: auto;
    margin-top: 15px;
    width: 100px;
    padding: 5px;
    background-color: blanchedalmond;
    color: black;
    border-radius: 10px;
}

#back a {
    list-style: none;
}