body {
    color: #fff;
    background: linear-gradient(to right, purple, pink);
}
.img-thumbnail {
    width: 100%;
    height: 350px;
    object-fit: fill;
}


#details {
    height: 350px;
}

.btn.btn-outline-secondary {
    color: white;
    border-color: white;
}

.btn.btn-outline-secondary:hover {
    background-color: lightpink;
}