#container {
    margin-top: 10px;
}

.control-label {
    font-weight: 600;
}

.control-label, .form-control {
    margin-bottom: 5px;
}

.img-thumbnail {
    width: 100%;
    height: 350px;
    object-fit: fill;
}