form {
    margin-top: 20px;
}

.table thead tr th {
    background-color: chartreuse;
}

td {
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    color: #fff;
    background: linear-gradient(to right, purple, pink);
}

.travel-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 500px;
    overflow-y: auto;
    margin-bottom: 15px;
    padding: 15px;
    background: linear-gradient(to right, purple, pink);
}

.travel-row {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
}

.travel-item {
    flex: 1;
    max-width: 18%;
    text-align: center;
    border: 1px solid #ddd;
    color: white;
    border-radius: 8px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
}

.travel-item img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

.travel-details {
    text-align: center;
}

.travel-details h5 {
    margin-top: 0.5rem;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.travel-details p {
    font-size: 0.9rem;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.btn.btn-outline-secondary
{
    color: white;
    border-color: white;
}

.btn.btn-outline-secondary:hover
{
    background-color: lightpink;
}

.btn.btn-outline-danger {
    background-color: darkred;
    color: white;
}