html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    
}

.navbar-custom {
    background: rgba(200, 112, 144, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.navbar-custom .nav-link:hover,
.navbar-custom .navbar-brand:hover {
    color: #ffd1dc;
}
