@model IEnumerable<WebApp.ViewModels.UserTravelVM>

@{
    ViewData["Title"] = "GetUserTravels";
}

<h1>My travels</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TravelName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TravelName)
            </td>
            <td>
                @Html.ActionLink("Cancel travel", "CancelTravel", new { id = item.Id }) |
                @Html.ActionLink("List", "ListUser", "Travel", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
